html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url('../images/Avalanche.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  height: 70em;
}

.content {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0 25px;

}

.facts, .quiz-control, .quiz .center-container {
  margin: 1em auto;
  padding: 0;
  width: 55%;
  height: auto;
  overflow: hidden;
}

hr {
  border: 0;
  height: 1px; 
  background: #004767;
  margin-top: 3em;
}

.button {
  border-radius: 3px;
}

.hidden {
  display: none;
}

/* Header */
.head-title {
  text-align: center;
  padding-top: 2em;
}

.quiz-title {
  font-family: 'Bitter', serif;
  font-weight: 700;
  font-size: 2em;
  color: #004767;
  margin:0;

}

.quiz-subtitle {
  font-size: 1em;
  margin:0;
  padding: 0;

}

.logo {
  width: 10em;
  height: auto;
}


/* Quiz Start */

.start-quiz .content {
  padding-top: 2em;
}

.start-quiz .left {
  width: 50%;
  float: left;
  margin: 0;

}

.start-quiz .right {
  width: 50%;
  float: right;
  margin: 0;
  padding-top: 1em;

}

.start-quiz .left > img {
  width: 90%;
  height: auto;
  padding: 1em;
}

.btn-center {
  margin: 0 auto;
}

.start-quiz .btn-quiz-start {
  width: 100%;
  height: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2.5em;
}

/* Quiz */

.quiz .question-number {
  
  margin:2em auto 0 auto;
  padding: 0;
}

.quiz .question-number h5 {
  margin: .5em 0;
}
.quiz .quiz-questions {
  
  margin: 0 auto 1em auto;
  background-color: rgba(0,71,103,0.8);
  color: white;
  border-radius: 3px;
  overflow: hidden;
}


.quiz .quiz-questions .question {
  padding: 1em 1.5em;
  font-size: 1em;
  margin:0;
}


.quiz .center-container .answer-left, .answer-right {
  background-color: rgba(64,179,223,0.75);
  border: 1px solid #004767;
  width:50%;
  height:175px;
  text-align: center;
  padding:0
  margin: 0;
  display: table;
}

.quiz .answer {
  display: table-cell;
  vertical-align: middle;
}
.quiz .center-container .answer-left {
  float: left;
}

.quiz .center-container .answer-right {
  float: right;
}

.quiz .center-container .answer-left:hover, .answer-right:hover {
  background-color: rgba(147,205,226,0.75);
}

.quiz .center-container span {
 font-weight: 700;
}

.quiz .correct {
  background-color: rgba(116,171,0,0.75);

}

.quiz .incorrect {
  background-color: red;
  
}

/* Score */

.quiz-control .center-container .score-container {
  margin: 0;
  padding-right: 0;
  width: 48%;
  height: 4em;
  text-align: center;
  background-color: #eeeeee;
  color: #004767;
  line-height: 4em;
  float:left;
  border-radius: 3px;

}

.quiz-control .score-container .score-count {
  margin: 0;
}

.quiz-control .btn-right {
  margin: 0;
  padding-left: 1em;
  width: 50%;
  float:right;
}

.quiz-control .btn-next-question {
  width: 100%;
  height: 4em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 4em;
}

.quiz-control .btn-next-question .complete {
  background: rgb(116,171,0);
}

/* Facts */

.facts .facts-container {
  
  margin-bottom: 6em;
  padding: 1.5em 1.5em;
  background-color: #333333;
  border-radius: 3px;
  width: 100%;
  color: white;
}

.facts .facts-container .fun-fact {
  margin: 0 2em;
  
}
